    input[type="radio"] {
        position: absolute;
        left : -10000px;
        top : -10000px;
        visibility : hidden;
    }

    section {
        background: #F4F4F4;
        padding: 50px 0;
    }

    .events-container {
        max-width: 1044px;
        margin: 40px auto;
        padding: 0 20px;
    }
    .carousel {
        display: block;
        text-align: left;
        position: relative;
        margin-bottom: 22px;
    }
    .carousel > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top:-9999;
        left:-9999;
    }

    .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -500%;}
    .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -400%;}
    .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -300%;}
    .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -200%;}
    .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: -100%;}
    .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {margin-left: 0%;}

    .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}
    .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}
    .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}
    .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}
    .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}
    .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);}

    .carousel__slides {
        position: relative;
        z-index: 1;
        padding: 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        display: flex;
    }

    .carousel__slide {
        position: relative;
        display: block;
        flex: 1 0 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 300ms ease-out;
        vertical-align: top;
        box-sizing: border-box;
        white-space: normal;
    }
    .carousel__slide figure {
        display: flex;
        height: 500px;
        margin: 0;
    }
    .carousel__slide div {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .carousel__slide div:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 66.6666666667%;
    }
    .carousel__slide div > img {
        position: absolute;
        top: 0;
        left: 50px;
        right: 0;
        bottom: 0;
        width: 500px;
        height: 500px;
    }

    .carousel__slide img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }

    .carousel__slide figcaption {
        align-self: flex-end;
        flex: 0 0 auto;
        width: 40%;
        height: 500px;
        min-width: 100px;
        padding: 10px 10px 0 10px;
        font-size:1.2em;
        font-family: 'Poppins';
        overflow-y: scroll;
        overflow-x: hidden;

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .carousel__slide figcaption::-webkit-scrollbar {
        display: none;
    }

    .carousel__slide figcaption a{
        font-size: 1.4em;
    }

    .carousel__slide.scrollable {
        overflow-y: scroll;
    }

    @media only screen and (max-width: 520px) {
        .carousel__slide figure {
            display: flex;
            height: 235px;
            margin: 0;
        }

        .carousel__slide figcaption {
            padding: 10px 10px 0 10px;
            align-self: flex-end;
            flex: 0 0 auto;
            width: 25%;
            height: 235px;
            min-width: 100px;
            font-size: 0.7em;
            font-family: 'Poppins';
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .carousel__slide div:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: 0;
        }

        .carousel__slide div > img {
            position: relative;
            top: 0;
            left: 0px;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 235px;
            object-fit: cover;
        }
    }

    @media only screen and (min-width: 520px) and (max-width: 780px) {
        .carousel__slide div > img {
            left: 0px;
        }
        .carousel__slide figcaption {
            width: 30%;
        }
    }

    .carousel__slides + .carousel__thumbnails {
        margin-top: 20px;
    }

    .carousel__thumbnails {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin: 0 -10px;
    }
    .carousel__thumbnails li {
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }
    .carousel__thumbnails .carousel-label {
        display: block !important;
        position: relative;
        margin-bottom: 0em !important;
    }
    .carousel__thumbnails .carousel-label:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%;
    }
    .carousel__thumbnails .carousel-label > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .carousel__thumbnails .carousel-label:hover, .carousel__thumbnails .carousel-label:focus {
        cursor: pointer;
    }
    .carousel__thumbnails .carousel-label:hover img, .carousel__thumbnails .carousel-label:focus img {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
        transition: all 300ms ease-in-out;
    }
    .carousel__thumbnails img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }