@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Roboto";
  font-weight: normal;
}

/* Welcome Section */

.welcome {
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
}

.jumbotron {
  padding: 2rem 1rem;
}

.section-breaker {
  height: 10vh;
  background-size: cover;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  color: #000000;
}

.title {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  text-align: right;
  color: #000000;
}

.date {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  display: flex;
  align-items: center;

  color: #000000;
}

.extras {
  margin-top: 20px;
}

.extras .material-icons {
  font-size: 32px;
}

.revisit {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  margin-left: 30px;
  display: flex;
  align-items: center;

  color: #0c0247;
}

.extras {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo {
  width: 400px;
  height: 100px;
  background-image: url(../img/logo_long.webp);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}

.btn {
  border-radius: 30px;
  text-align: center;
  padding: 15px 20px;
}

.content {
  margin-top: 30px;
  margin-right: 7%;
  text-align: right !important; 
}


/* Devfolio Button CSS */
#devfolio-apply-now {
  margin-left: auto;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770FF;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
  text-transform: lowercase;
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954BF !important;
}



/* .content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
} */

.content p {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.content .btn {
  font-weight: 1000;
  border-width: 2px;
  opacity: 0.75;
  color: white;
  box-shadow: 1px 2px black;
  text-shadow: 1px 1px black;
}

@media only screen and (max-width: 850px) {
  .content {
    margin-right: 20px;
  }

  

  .apply-btn {
    font-size: 12px;
  }

}

@media only screen and (max-width: 520px) {
  .logo {
    width: 360px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  svg{
    width: 280px;
  }

  .content {
    margin-right: 0;
    margin-top: 40px;
    text-align: left;
  }

  .title{
    font-size: 48px;
    text-align: left;
  }

  .subtitle{
    font-size: 20px;
    text-align: left;
  }

  .extras{
    justify-content: flex-start;
  }

  
  .apply-btn {
    font-size: 10px;
  }

  .btn {
    width: 200px;
  }

  .content p {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .content a {
    font-size: 14px;
  }

  .content h3 {
    font-size: 20px;
  }
  .content .btn {
    margin: 10% 20%;
  }
}

/*section-breaker CSS*/
.section-divider > img {
  width: 100%;
}

.stat-color {
  background-color: #91f6ee;
}
.sponser-color {
  background-color: #2cefde;
}
.faq-color {
  background-color: #03a798;
}
.footer-color {
  background-color: #02867b;
}
.unselectable {
  user-select: none;
}
/* What is Section */

.part-2 {
  background: linear-gradient(180deg, #c9f3ff 0%, #91f6ee 100%);
  padding: 70px 30px 70px 30px;
  color: #000;
}

.about {
  line-height: 1.5;
  padding: 50px 10px 40px 10px;
  text-align: justify;
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
}

.about p {
  font-size: 1.25rem;
}

.logo-2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 521px) and (max-width: 850px) {
  .part-2 {
    padding-top: 30px;
  }

  .about {
    padding: 30px 60px 30px 60px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }

  .logo-2 {
    width: 40%;
  }
}

@media only screen and (max-width: 520px) {
  .part-2 {
    padding-top: 30px;
  }

  .about {
    padding: 30px 30px 30px 30px;
  }

  .about h2 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.75rem;
  }

  .logo-2 {
    width: 50%;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 43%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* :: 22.0 Stats Area CSS */
.part-3 {
  background-image: linear-gradient(180deg, #8ddefb 0%, #2cefde 100%);
  padding-top: 70px;
  padding-bottom: 50px;
  color: #000;
}

.milestone-number {
  margin-top: 20px;
  color: #111342 !important;
  font-size: 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

.number-holder {
  font-size: 45px;
}

.number-suffix {
  margin: 0;
  font-size: 45px;
  padding: 0;
}

.mb-100 {
  margin-bottom: 50px;
}

.milestone-desc {
  margin-top: 5px;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #333333;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative;
}

.milestone-desc::after {
  background: #323232;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
}

/* :: Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #02648b;
  padding-top: 30px;
}

.footer-area .row {
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-evenly;
  align-items: baseline;
}

@media only screen and (max-width: 767px) {
  .footer-area .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .apply-btn {
    font-size: 11px;
  }
}

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0;
}

.section-padding-80-50 {
  padding-top: 80px;
  padding-bottom: 50px;
}

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding-0-85 {
  padding-top: 0;
  padding-bottom: 85px;
}

.section-padding-100-60 {
  padding-top: 100px;
  padding-bottom: 60px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.footer-area .row .col-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.our-sponsor-client-area {
  position: relative;
  z-index: 1;
  background-color: #151853;
}

@media only screen and (max-width: 767px) {
  .footer-area .row .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* .main-footer-area {
  position: relative;
  z-index: 1;
} */

.main-footer-area .single-footer-widget .widget-title {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.main-footer-area .single-footer-widget p {
  color: #9293bc;
  font-size: 16px;
}

.main-footer-area .single-footer-widget p i {
  margin-right: 5px;
}

.main-footer-area .single-footer-widget .footer-logo {
  display: block;
  margin-bottom: 10px;
}

.main-footer-area .single-footer-widget .social-info a {
  text-align: center;
  margin-right: 12px;
  margin-top: 12px;
  line-height: 32px;
  opacity: 0.8;
  color: rgb(238, 181, 181);
}

.social-info:last-child {
  margin-right: 0;
}

.social-info i:hover {
  opacity: 1;
  transform: scale(1.1);
}

.main-footer-area .single-footer-widget .footer-contact-info {
  position: relative;
  z-index: 1;
}

.main-footer-area .single-footer-widget .footer-contact-info p {
  margin-bottom: 13px;
}

.main-footer-area .single-footer-widget .footer-contact-info p:last-child {
  margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-nav {
  position: relative;
  z-index: 1;
}

.main-footer-area .single-footer-widget .footer-nav li a {
  color: #9293bc;
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.main-footer-area .single-footer-widget .footer-nav li a:hover,
.main-footer-area .single-footer-widget .footer-nav li a:focus {
  color: #ffffff;
}

.main-footer-area .single-footer-widget .footer-nav li:last-child a {
  margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-gallery .row {
  margin-right: -5px;
  margin-left: -5px;
}

.main-footer-area .single-footer-widget .footer-gallery .row .col-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a img {
  border-radius: 5px;
  width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a::before {
  background: #c63fa4;
  background-image: -webkit-linear-gradient(120deg, #233452 0%, #55c1aa 100%);
  background-image: -ms-linear-gradient(120deg, #233452 0%, #55c1aa 100%);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  border-radius: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a:hover::before {
  visibility: visible;
  opacity: 0.8;
}

.copywrite-content {
  margin-top: 16px;
  border-top: 1px solid #929292;
  padding: 15px 0;
}

@media only screen and (max-width: 767px) {
  .copywrite-content {
    text-align: center;
  }
}

.copywrite-content .copywrite-text p {
  color: #9293bc;
  font-size: 14px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .copywrite-content .copywrite-text p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .copywrite-content .copywrite-text p {
    font-size: 12px;
  }

  .copywrite-content .copywrite-text span {
    display: block;
  }
}

.copywrite-content .copywrite-text p a {
  color: #ffffff;
  font-weight: 400;
}

.copywrite-content .copywrite-text p a:hover,
.copywrite-content .copywrite-text p a:focus {
  color: #df42b1;
}

.copywrite-content .footer-menu {
  position: relative;
  z-index: 1;
}

.copywrite-content .footer-menu .nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .copywrite-content .footer-menu .nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.copywrite-content .footer-menu .nav li {
  margin-right: 20px;
}

.copywrite-content .footer-menu .nav li:last-child {
  margin-right: 0;
}

.copywrite-content .footer-menu .nav li a {
  color: #9293bc;
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .copywrite-content .footer-menu .nav li a {
    font-size: 12px;
  }
  .single-footer-widget {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .copywrite-content .footer-menu .nav li a {
    font-size: 12px;
  }
  .single-footer-widget {
    margin-top: 20px;
  }
}

.copywrite-content .footer-menu .nav li a i {
  position: relative;
  z-index: 1;
  top: -2px;
  font-size: 6px;
  margin-right: 2px;
  color: #505add;
}

.copywrite-content .footer-menu .nav li a:hover,
.copywrite-content .footer-menu .nav li a:focus {
  color: #ffffff;
}

.section-heading-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.section-heading-2 p {
  color: #df42b1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 400;
}

.section-heading-2 h4 {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .section-heading-2 h4 {
    font-size: 26px;
  }

  .sponsor-message h5 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-heading-2 h4 {
    font-size: 30px;
  }

  .sponsor-message h5 {
    font-size: 12px;
  }
}

#faq {
  padding-top: 40px;
  background-image: linear-gradient(180deg, #007fb1 0%, #02867b 100%);
}

.section-header-faq {
  text-align: center;
}

#faq-list li {
  color: transparent;
  margin: 5px auto;
}

#faq ul {
  padding: 0 20px;
}

#faq p {
  color: #fff;
}

#faq #faq-list a.collapsed {
  color: #fff;
}

#faq #faq2-list a.collapsed {
  color: #fff;
}

#faq #faq-list li a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  /* padding-right: 30px; */
}

#faq a {
  color: #55c1aa;
  transition: 0.5s;
  text-decoration: none;
}

#faq ul li:after {
  content: "";
  display: block;
  height: 2px;
  margin: 10px 0;
  background: #85f1c6;
}

#faq a:not(.collapsed) .fa-plus-circle::before {
  content: "\f056";
}

#sponsors {
  background-image: linear-gradient(180deg, #23bdf9 0%, #03a798 100%);
}

#sponsors .row img {
  max-width: 200px;
  width: auto;
  max-height: 150px;
}

#gatsbyjs,
#elastic {
  width: 100% !important;
}

.col-lg-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px;
  margin-top: 30px; */
}
.col-6 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

@media only screen and (max-width: 1100px) {
  #sponsors .row img {
    width: 95%;
  }

  .apply-btn {
    font-size: 13px;
  }
}

#sponsors a:hover {
  transform: scale(1.07);
}

/* Floating Icons CSS */
.fabs {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
}
#fab {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.hidden {
  display: none;
}

.social-icons {
  position: absolute;
  right: 28px;
  bottom: 72px;
  margin-bottom: 16px;
}

.social-icons button {
  display: flex;
  margin-bottom: 16px;
  margin-left: auto;
}

.social-icons a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

#sea-creatures{
  width: 15%;
}

.footer-color #sea-creatures{
  width: 30%;
}

@media only screen and (max-width: 576px){
  #sea-creatures{
    width: 25%;
  }

  .footer-color #sea-creatures{
    width: 50%;
  }

  
  
}

