/*@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins";
  font-weight: normal;
  cursor: default;
}

/* Welcome Section */

.welcome {
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  border-radius: 0;
}

.jumbotron {
  padding: 2rem 1rem;
}

.section-breaker {
  height: 10vh;
  background-size: cover;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  color: #000000;
}

.title {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  text-align: right;
  color: #000000;
}

.date {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  display: flex;
  align-items: center;

  color: #000000;
}

.alert-danger {
  background-color: #fff;
}

.alert {
  padding: 0.5rem 1rem;
  margin-bottom: 0rem;
}

.alert-light {
  background-color: rgb(255, 255, 255, 0.5);
}

.extras {
  margin-top: 12px;
}

.extras .material-icons {
  font-size: 32px;
}

.revisit {
  font-family: Barlow Semi Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 22px;
  text-align: right;
  margin-left: 30px;
  display: flex;
  align-items: center;
  color: black;
}

.extras {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media only screen and (max-width: 400px) and (max-height: 668px) {
  .mobile-view-date {
    color: rgb(255, 255, 255, 0.9);
    text-shadow: 0.7px 0.7px black;
    font-size: 1.1em !important;
  }
  .mobile-view-icon {
    color: rgb(255, 255, 255, 0.9);
    margin-right: 1px;
  }
}

.logo {
  width: 400px;
  height: 100px;
  background-image: url(../img/logo_long.webp);
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}

.content {
  margin-top: 30px;
  margin-right: 8%;
  text-align: right;
}

/* .content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000;
} */

.pyp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Barlow Semi Condensed;
}

.content p {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

@media only screen and (max-width: 850px) {
  .content {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 520px) {
  .logo {
    width: 260px;
    height: 90px;
    display: block;
  }

  .banner {
    width: 280px;
  }

  .content {
    margin-right: 0;
    margin-top: 40px;
    text-align: left;
  }

  .title {
    font-size: 48px !important;
    text-align: left;
  }

  .subtitle {
    font-size: 20px;
    text-align: left;
  }

  .extras {
    justify-content: flex-start;
  }

  .content p {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .content a {
    font-size: 14px;
  }

  .content h3 {
    font-size: 20px;
  }
}

/*section-breaker CSS*/
.section-divider > img {
  width: 100%;
}

.stat-color {
  background-color: #91f6ee;
}
.judges-color {
  background-color: #11e8d6;
}
.sponser-color {
  background-color: #2cefde;
}
.faq-color {
  background-color: #03a798;
}
.footer-color {
  background-color: #02867b;
}
.tracks-color {
  background-color: #2cecdc;
}
.unselectable {
  user-select: none;
}
/* What is Section */

.part-2 {
  background: linear-gradient(180deg, #c9f3ff 0%, #91f6ee 100%);
  padding: 70px 30px 70px 30px;
  color: #000;
}

.about {
  line-height: 1.5;
  padding: 50px 10px 40px 10px;
  text-align: justify;
}

.about h2 {
  text-align: center;
  font-size: 2.5rem;
}

.about p {
  font-size: 1.25rem;
}

.logo-2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 521px) and (max-width: 850px) {
  .part-2 {
    padding-top: 30px;
  }

  .about {
    padding: 30px 60px 30px 60px;
  }

  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }

  .logo-2 {
    width: 40%;
  }
}

@media only screen and (max-width: 520px) {
  .part-2 {
    padding-top: 30px;
  }

  .about {
    padding: 30px 30px 30px 30px;
  }

  .about h2 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 0.75rem;
  }

  .logo-2 {
    width: 50%;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 43%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* :: 22.0 Stats Area CSS */
.part-3 {
  background-image: linear-gradient(180deg, #8ddefb 0%, #2cefde 100%);
  padding-top: 70px;
  padding-bottom: 50px;
  color: #000;
}

.milestone-number {
  margin-top: 20px;
  color: #111342 !important;
  font-size: 0;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

.number-holder {
  font-size: 45px;
}

.number-suffix {
  margin: 0;
  font-size: 45px;
  padding: 0;
}

.mb-100 {
  margin-bottom: 50px;
}

.milestone-desc {
  margin-top: 5px;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #333333;
  padding-top: 15px;
  box-sizing: border-box;
  position: relative;
}

.milestone-desc::after {
  background: #323232;
  left: 50%;
  transform: translate(-50%, 0);
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  top: 0;
}

/* :: Footer Area CSS */
.footer-area {
  position: relative;
  z-index: 1;
  background-color: #02648b;
  padding-top: 30px;
}

.footer-area .row {
  margin-left: -30px;
  margin-right: -30px;
  justify-content: space-evenly;
  align-items: baseline;
}

@media only screen and (max-width: 767px) {
  .footer-area .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px;
}

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0;
}

.section-padding-80-50 {
  padding-top: 80px;
  padding-bottom: 50px;
}

.section-padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-padding-0-85 {
  padding-top: 0;
  padding-bottom: 85px;
}

.section-padding-100-60 {
  padding-top: 100px;
  padding-bottom: 60px;
}

.section-padding-100-70 {
  padding-top: 100px;
  padding-bottom: 70px;
}

.section-padding-0-100 {
  padding-top: 0;
  padding-bottom: 100px;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.footer-area .row .col-12 {
  padding-left: 30px;
  padding-right: 30px;
}

.our-sponsor-client-area {
  position: relative;
  z-index: 1;
  background-color: #151853;
}

@media only screen and (max-width: 767px) {
  .footer-area .row .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* .main-footer-area {
  position: relative;
  z-index: 1;
} */

.main-footer-area .single-footer-widget .widget-title {
  font-size: 20px;
  color: #28fac5;
  margin-bottom: 20px;
}

.main-footer-area .single-footer-widget p {
  color: #9293bc;
  font-size: 16px;
}

.main-footer-area .single-footer-widget p i {
  margin-right: 5px;
}

.main-footer-area .single-footer-widget .footer-logo {
  display: block;
  margin-bottom: 10px;
}

.main-footer-area .single-footer-widget .social-info a {
  text-align: center;
  margin-right: 12px;
  margin-top: 12px;
  line-height: 32px;
  opacity: 0.8;
  color: rgb(238, 181, 181);
}

.social-info:last-child {
  margin-right: 0;
}

.social-info i:hover {
  opacity: 1;
  transform: scale(1.1);
}

.main-footer-area .single-footer-widget .footer-contact-info {
  position: relative;
  z-index: 1;
}

.main-footer-area .single-footer-widget .footer-contact-info p {
  margin-bottom: 13px;
}

.main-footer-area .single-footer-widget .footer-contact-info p:last-child {
  margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-nav {
  position: relative;
  z-index: 1;
}

.main-footer-area .single-footer-widget .footer-nav li a {
  color: #9293bc;
  font-size: 14px;
  margin-bottom: 15px;
  display: inline-block;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.main-footer-area .single-footer-widget .footer-nav li a:hover,
.main-footer-area .single-footer-widget .footer-nav li a:focus {
  color: #ffffff;
}

.main-footer-area .single-footer-widget .footer-nav li:last-child a {
  margin-bottom: 0;
}

.main-footer-area .single-footer-widget .footer-gallery .row {
  margin-right: -5px;
  margin-left: -5px;
}

.main-footer-area .single-footer-widget .footer-gallery .row .col-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a img {
  border-radius: 5px;
  width: 100%;
}

.main-footer-area .single-footer-widget .footer-gallery a::before {
  background: #c63fa4;
  background-image: -webkit-linear-gradient(120deg, #233452 0%, #55c1aa 100%);
  background-image: -ms-linear-gradient(120deg, #233452 0%, #55c1aa 100%);
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  border-radius: 5px;
}

.main-footer-area .single-footer-widget .footer-gallery a:hover::before {
  visibility: visible;
  opacity: 0.8;
}

.copywrite-content {
  margin-top: 16px;
  border-top: 1px solid #929292;
  padding: 15px 0;
}

@media only screen and (max-width: 767px) {
  .copywrite-content {
    text-align: center;
  }
}

.copywrite-content .copywrite-text p {
  color: #9293bc;
  font-size: 14px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .copywrite-content .copywrite-text p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .copywrite-content .copywrite-text p {
    font-size: 12px;
  }

  .copywrite-content .copywrite-text span {
    display: block;
  }
}

.copywrite-content .copywrite-text p a {
  color: #ffffff;
  font-weight: 400;
}

.copywrite-content .copywrite-text p a:hover,
.copywrite-content .copywrite-text p a:focus {
  color: #df42b1;
}

.copywrite-content .footer-menu {
  position: relative;
  z-index: 1;
}

.copywrite-content .footer-menu .nav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

@media only screen and (max-width: 767px) {
  .copywrite-content .footer-menu .nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.copywrite-content .footer-menu .nav li {
  margin-right: 20px;
}

.copywrite-content .footer-menu .nav li:last-child {
  margin-right: 0;
}

.copywrite-content .footer-menu .nav li a {
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .copywrite-content .footer-menu .nav li a {
    font-size: 12px;
  }
  .single-footer-widget {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .copywrite-content .footer-menu .nav li a {
    font-size: 12px;
  }
  .copywrite-content .footer-menu {
    margin-top: 20px;
  }
  .single-footer-widget {
    margin-top: 20px;
  }
}

.copywrite-content .footer-menu .nav li a i {
  position: relative;
  z-index: 1;
  top: -2px;
  font-size: 6px;
  margin-right: 2px;
  color: #505add;
}

.copywrite-content .footer-menu .nav li a:hover,
.copywrite-content .footer-menu .nav li a:focus {
  color: #ffffff;
}

.section-heading-2 {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
  font-family: "Lobster", cursive;
}

.section-heading-2 p {
  color: #df42b1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 400;
}

.section-heading-2 h4 {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 1px;
}

@media only screen and (max-width: 767px) {
  .section-heading-2 h4 {
    font-size: 26px;
  }

  .sponsor-message h5 {
    font-size: 17px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-heading-2 h4 {
    font-size: 30px;
  }

  .sponsor-message h5 {
    font-size: 12px;
  }
}

#faq {
  padding-top: 40px;
  background-image: linear-gradient(180deg, #047cb4 0%, #02867b 100%);
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.our-speaker-area {
  align-items: center;
  justify-content: center;
}
.container_patrons {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#81f8ee, #91f6ee);
}
.container_adv {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#8cddfb, rgba(10, 235, 216, 0.863));
}
.container_fac {
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  background-image: linear-gradient(#23bef9, #0ba597);
}
.container_student {
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#047eaf, #09857a);
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.section-header-faq {
  text-align: center;
}

#faq-list li {
  color: transparent;
  margin: 5px auto;
}

#faq ul {
  padding: 0 20px;
}

#faq p {
  color: #fff;
}

#faq #faq-list a.collapsed,
#sch #sch-list h1.collapsed {
  color: #fff;
}

#faq #faq2-list a.collapsed {
  color: #fff;
}

#faq #faq-list li a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  /* padding-right: 30px; */
}

#faq a {
  color: rgb(20, 10, 54);
  transition: 0.5s;
  text-decoration: none;
}

#faq ul li:after {
  content: "";
  display: block;
  height: 2px;
  margin: 10px 0;
  background: #85f1c6;
}

#faq a:not(.collapsed) .fa-plus-circle::before {
  content: "\f056";
}

#sch h1:not(.collapsed) .fa-plus-circle::before {
  content: "\f056";
}

#sponsors {
  background-image: linear-gradient(180deg, #05b0f6 0%, #03a798 100%);
}

#sponsors .row img {
  max-width: 200px;
  width: auto;
  max-height: 150px;
}

#gatsbyjs,
#elastic {
  width: 100% !important;
}

.col-lg-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px;
  margin-top: 30px; */
}
.col-6 {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

@media only screen and (max-width: 1100px) {
  #sponsors .row img {
    width: 95%;
  }
}

#sponsors a:hover {
  transform: scale(1.07);
}

/* Floating Icons CSS */
.fabs {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 5;
}
#fab {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.hidden {
  display: none;
}

.social-icons {
  position: absolute;
  right: 28px;
  bottom: 72px;
  margin-bottom: 16px;
}

.social-icons button {
  display: flex;
  margin-bottom: 16px;
  margin-left: auto;
}

.social-icons a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #077729;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.team_page_logo {
  height: 50;
  width: 50;
}

#sea-creatures {
  width: 15%;
}

.footer-color #sea-creatures {
  width: 30%;
}
.page-title {
  color: rgb(17, 4, 4);
  font-size: 45px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  .breadcrumb-area .page-title {
    font-size: 24px;
  }
}

.comm-part {
  text-align: center;
}
.comm-part a {
  color: white;
}
.comm-part a:hover {
  color: violet;
}

@media only screen and (max-width: 576px) {
  #sea-creatures {
    width: 25%;
  }

  .footer-color #sea-creatures {
    width: 50%;
  }
}
.single-speaker-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 10px;
  height: 380px;
}
.single-speaker-area .speaker-single-thumb {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 10%;
}
.single-speaker-area .speaker-single-thumb img {
  -webkit-transition-duration: 1500ms;
  -o-transition-duration: 1500ms;
  transition-duration: 1500ms;
  width: 100%;
  -webkit-box-shadow: 0 8px 26px -6px black;
  -moz-box-shadow: 0 8px 26px -6px black;
  box-shadow: 0 8px 26px -6px black;
  border-radius: 50%;
  margin-bottom: 80px;
}
.single-speaker-area .social-info {
  position: absolute;
  top: -180px;
  right: 0;
  z-index: 22;
  background-color: #233452;
  padding: 15px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
.single-speaker-area .social-info a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}
.single-speaker-area .social-info a:last-child {
  margin-bottom: 0;
}
.single-speaker-area .speaker-info {
  position: absolute;
  padding-top: 90%;
  bottom: 0px;
  z-index: 22;
}

.single-speaker-area .speaker-info h5 {
  font-size: 20px;
  font-weight: 800;
  color: rgb(139, 11, 11);
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.single-speaker-area .speaker-info p {
  color: #fbc901;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1;
}
.single-speaker-area:hover .social-info,
.single-speaker-area:focus .social-info {
  top: 0;
}

.patron_div {
  background-color: #87daf6;
}

#prizes {
  background-image: linear-gradient(180deg, #45c8f9 0%, #2cefde 100%);
  padding: 70px 30px 70px 30px;
}

#tracks {
  background-image: linear-gradient(180deg, #24bcfc 0%, #2ceedd 100%);
  padding: 70px 30px 70px 30px;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------TIMER---------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------*/

.tick {
  font-size: 1rem;
  white-space: nowrap;
  font-family: arial, sans-serif;
}

.tick-flip,
.tick-text-inline {
  font-size: 2.5em;
}

.tick-label {
  margin-top: 1em;
  font-size: 1.5em;
}

.tick-char {
  width: 1.5em;
}

.tick-text-inline {
  display: inline-block;
  text-align: center;
  min-width: 1em;
}

.tick-text-inline + .tick-text-inline {
  margin-left: -0.325em;
}

.tick-group {
  margin: 0 0.5em;
  text-align: center;
}

.tick-text-inline {
  color: #595d63 !important;
}

.tick-label {
  color: #595d63 !important;
}

.tick-flip-panel {
  color: #1e6773 !important;
}

.tick-flip-panel-text-wrapper {
  line-height: 1.2 !important;
}

.tick-flip-panel {
  background-color: #3c3e3c !important;
}

.tick-flip {
  border-radius: 1em !important;
}

.tick-flip:nth-child(odd) {
  animation: float-odd 6s ease-in-out infinite;
}

.tick-flip:nth-child(even) {
  animation: float-even 6s ease-in-out infinite;
}

.tick-flip-card {
  width: 1.15em;
  height: 1.15em;
}

.tick-flip-card-shadow {
  height: unset;
}

.tick-flip-spacer {
  height: 1.15em;
}

.tick-flip-panel-back,
.tick-flip-panel-front {
  height: 50.75%;
}

.tick-flip-panel-front {
  background: linear-gradient(to bottom, #e4f5fc 0%, #bfe8f9 100%);
}

.tick-flip-panel-back {
  background: linear-gradient(to bottom, #bfe8f9 0%, #2ab0ed 100%);
}

.tick-flip-panel-back::after {
  background-image: none;
}

@keyframes float-even {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-odd {
  0% {
    transform: translatey(-20px);
  }
  50% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-20px);
  }
}

/*Track section css*/

/* :: About Single Page CSS */
.single-we-offer-content {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
  box-shadow: 0px 8px 27px 0px rgba(90, 111, 120, 0.15);
  border-radius: 10px;
  padding: 30px 25px;
  margin-bottom: 30px;
  overflow: hidden;
}
.single-we-offer-content .offer-icon {
  position: relative;
  z-index: 1;
  margin: auto;
  height: 115px;
  width: 115px;
  background: #42dfa3;
  background-image: -moz-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  background-image: -webkit-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  background-image: -ms-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  border-radius: 50%;
  line-height: 115px;
}
.single-we-offer-content .offer-icon::after {
  -webkit-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
  border-radius: 50%;
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #42dfa3;
  background-image: -moz-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  background-image: -webkit-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  background-image: -ms-linear-gradient(120deg, #42dfa3 0%, #505add 100%);
  z-index: -10;
}
.single-we-offer-content h5 {
  -webkit-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
  font-size: 22px;
  color: #111343;
  margin-top: 25px;
  position: relative;
  z-index: 2;
}
.single-we-offer-content p {
  -webkit-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
  color: #5d5e8d;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
.single-we-offer-content:hover {
  transform: scale(1.08);
}
.single-we-offer-content:hover h5,
.single-we-offer-content:hover p,
.single-we-offer-content:focus h5,
.single-we-offer-content:focus p {
  color: #ffffff;
}
.single-we-offer-content:hover .offer-icon::after,
.single-we-offer-content:focus .offer-icon::after {
  width: 800%;
  height: 800%;
}

/* Judges Section */

.our-judge-area {
  position: relative;
  z-index: 1;
}
.our-judge-area .row {
  margin-left: -60px;
  margin-right: -20px;
}
@media only screen and (max-width: 767px) {
  .our-judge-area .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.our-judge-area .row .col-12 {
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 767px) {
  .our-judge-area .row .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.single-judge-area {
  background-color: #0375535b;
  justify-self: center;
  padding: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 8px 27px 0px rgb(90 111 120 / 15%);
  width: 240px;
}
.single-judge-area .judge-single-thumb {
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 10%;
}

#grid:first-child .single-judge-area .judge-single-thumb img {
  margin-bottom: 90px;
}

.single-judge-area .judge-single-thumb img {
  -webkit-transition-duration: 1500ms;
  -o-transition-duration: 1500ms;
  transition-duration: 1500ms;
  width: 240px;
  border-radius: 100%;
  padding: 10px;
  margin-bottom: 80px;
}
.single-judge-area .social-info {
  position: absolute;
  top: -180px;
  right: 0;
  z-index: 22;
  background-color: #03a777;
  padding: 15px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
}
.single-judge-area .social-info a {
  display: block;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}
.single-judge-area .social-info a:last-child {
  margin-bottom: 0;
}
.single-judge-area .judge-info {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 22;
}
.single-judge-area .judge-info h5 {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-bottom: 0px;
}
.single-judge-area .judge-info p {
  color: #df42b1;
  margin-bottom: 0;
  letter-spacing: 1px;
  line-height: 1;
}
.single-judge-area:hover .social-info,
.single-judge-area:focus .social-info {
  top: 0;
}

#judges {
  background-image: linear-gradient(180deg, #23bdf9 0%, #11e8d6 100%);
}

#grid {
  display: grid;
}
