{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type = "text/javascript" src = "{% static 'js/filealloc.js' %}" >
    </script>
  </head>
  <body>
    <h1>File Allocation</h1>
    <form id = "contAllocForm" method = "post" name = "contAllocForm">

      <h2>Contiguous Allocation</h2>
      <label>Enter filename: </label>
      <input type="text" name="contAllocTF1" id="contAllocTF1">
      <br><br>
      <label>Enter size of file: </label>
      <input type="text" name="contAllocTF2" id="contAllocTF2">
      <br><br>
      <input type="button" name="contAlloc" id="contAlloc" value="Allocate Memory">
      <br><br>

      <label>Enter filename to delete: </label>
      <input type="text" name="contAllocTF3" id="contAllocTF3">
      <br><br>
      <input type="button" name="contDelete" id="contDelete" value="Delete">
      <br><br>

      <input type="button" name="contDisplayDir" id="contDisplayDir" value="Display Directory">
      <br><br>

      <input type="button" name="contDisplayDiskBlocks" id="contDisplayDiskBlocks" value="Display Disk Blocks">
      <br><br>

      <h2>Linked Allocation</h2>
      <label>Enter filename: </label>
      <input type="text" name="linkedAllocTF1" id="linkedAllocTF1">
      <br><br>
      <label>Enter size of file: </label>
      <input type="text" name="linkedAllocTF2" id="linkedAllocTF2">
      <br><br>
      <input type="button" name="linkedAlloc" id="linkedAlloc" value="Allocate Memory">
      <br><br>

      <label>Enter filename to delete: </label>
      <input type="text" name="linkedAllocTF3" id="linkedAllocTF3">
      <br><br>
      <input type="button" name="linkedDelete" id="linkedDelete" value="Delete">
      <br><br>

      <input type="button" name="linkedDisplayDir" id="linkedDisplayDir" value="Display Directory">
      <br><br>

      <input type="button" name="linkedDisplayDiskBlocks" id="linkedDisplayDiskBlocks" value="Display Disk Blocks">
      <br><br>

    </form>
  </body>
</html>
