<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="../">Go Back</a>
		</div>
	</div>
</nav>
<br><br><br>
<style>
body{
	background-color: .bg-light;
	text-align: left;
}
.table{
	width:50%;
	margin:0 auto;
}
.algorithms{
	margin: 0 auto;
}
ul{
	list-style-type: none;
}
h1{
	font-style:normal;
	font-size:3.0em;
}
td{
	font-size: 1em;
}
</style>
<body>
	<h1 align="center">CPU Scheduling</h1>
	<div class="algorithms">
		<table class="table">
	<tr>
		<td><a></a></td>
	</tr>
	<td><a href='fcfs.html'>First Come First Serve</a></td>
	</tr>
	<tr>
	<td><a href='srtf.html'>Shortest Job First (Preemptive) / Shortest Remaining Time First</a></td>
	</tr>
	<tr>
		<td><a href='sjf.html'>Shortest Job First (Non-Preemptive)</a></td>
	</tr>
	<tr>
		<td><a href='ljf.html'>Longest Job first</a></td>
	</tr>
	<tr>
		<td><a href='lrtf.html'>Longest Remaining Time first</a></td>
	</tr>
	<tr>
		<td><a href='priority.html'>Priority (Preemptive)</a></td>
	</tr>
	<tr>
		<td><a href='prioritynonpre.html'>Priority (Non-Preemptive)</a></td>
	</tr>
	<tr>
		<td><a href="round-robin.html">Round Robin</a></td>
	</tr>
	<tr>
		<td><a href='hrrn.html'>Highest Response Ratio Next</a></td>
	</tr>
</table>
</div>
</body>
</html>
