<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href="{% static 'css/main.css' %}">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

    <title>Hello, world!</title>

    {% block js %} {% endblock %}

    {% block style %} {% endblock %}

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand" href="#">OS Simulator</a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-wifi icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-bluetooth icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-volume-up icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-battery-three-quarters icon"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-power-off icon"></i></a>
            </li>
        </ul>
    </nav>


    <div id="flyoutMenu">
        <div class="container">
            <div class="row col-12 mt-3">
                <h4 class="text-white">Documentation</h4>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>System calls</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>CPU Scheduling</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>Disk Scheduling</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>Memory Allocation</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>File Allocation</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>Page Replacement</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>Banker's Algorithm</p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="tab text-white" style="text-align: center;">
                        <i class="fa fa-file-code-o mt-3"></i>
                        <p>Deadlock Detection</p>
                    </div>
                </div>
            </div>
            <div class="row col-12" style="margin-top: 80px;">
                <h4 class="text-white">Simulations</h4>
            </div>
            <div class="row">
                <div class="col-2">
                    <a href="/systemcalls/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-terminal mt-3"></i>
                            <p>System calls</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/cpusch/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>CPU Scheduling</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/discsch/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>Disk Scheduling</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/memalloc/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>Memory Allocation</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/filealloc/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>File Allocation</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/pagerep/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>Page Replacement</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/bankers/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>Banker's Algorithm</p>
                        </div>
                    </a>
                </div>
                <div class="col-2">
                    <a href="/deadlock/">
                        <div class="tab text-white" style="text-align: center;">
                            <i class="fa fa-file-code-o mt-3"></i>
                            <p>Deadlock Detection</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    {% block body %} {% endblock %}



    <footer class="fixed-bottom">
        <div class="row">
            <div class="col-2">
                <a class="nav-link" id="WindowButton" href="#"><i class="fa fa-windows"
                        style="font-size: 40px;"></i></a>
            </div>

            <div class="col-2">

                <a class="nav-link" href="#"><i class="fa fa-folder" style="font-size: 40px;"></i></a>

            </div>
            <div class="col-2">

                <a class="nav-link" href="#"><i class="fa fa-chrome" style="font-size: 40px;"></i></a>

            </div>
            <div class="col-2">

                <a class="nav-link" href="#"><i class="fa fa-cog" style="font-size: 40px;"></i></a>

            </div>
            <div class="col-2">

                <a class="nav-link" href="#"><i class="fa fa-terminal" style="font-size: 40px;"></i></a>

            </div>
            <div class="col-2">

                <a class="nav-link" href="#"><i class="fa fa-users" style="font-size: 40px;"></i></a>

            </div>
        </div>

    </footer>



    <script src="{% static 'js/main.js' %}"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>