{% extends 'base.html' %}
{% load static %}


{% block style %}

<style>
    .card {
        margin-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
</style>

{% endblock %}

{% block body %}

<div class="jumbotron jumbotron-fluid"
    style="background-image: url({% static 'img/jumbo.png' %}); background-size: cover;">
    <div class=" container">
        <h1 class="display-4 pt-5">Our Team</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Manas Trivedi</h2>
                </div>
                <div class="card-body">
                    181C0231
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Mohammed Rushad</h2>
                </div>
                <div class="card-body">
                    181C0232
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>MUDAVATH PRATHYUSHA</h2>
                </div>
                <div class="card-body">
                    181C0233
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Nandan MK</h2>
                </div>
                <div class="card-body">
                    181C0234
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Nihar Rai</h2>
                </div>
                <div class="card-body">
                    181C0235
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Nishtha Kumari</h2>
                </div>
                <div class="card-body">
                    181C0236
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Omanshu Mahawar</h2>
                </div>
                <div class="card-body">
                    181C0237
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>PASUMARTHI KUSHWANTH</h2>
                </div>
                <div class="card-body">
                    181C0238
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Pranav Vigneshwar Kumar</h2>
                </div>
                <div class="card-body">
                    181C0239
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2>Priyash Bhattarai</h2>
                </div>
                <div class="card-body">
                    181C0240
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 100px;">
</div>

{% endblock %}