<!-- <!DOCTYPE html>
<html>
  <head>
	<title> Deadlock Detection </title> -->
{% extends 'base.html' %}
{% load static %}
{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script>
	var num;
	var index;
	var alloc = [];
	var need = [];
	var p = [];
	var r = [];
	var vis = [];
	var recStack = [];
	var index;
	var num;
	var g;
	var q = [];
	function EnterInputs() {
		num = parseInt(document.getElementById("totalresources").value);
		if (isNaN(num) || num <= 0)
			window.alert("Enter valid input");
		else {
			index = parseInt(document.getElementById("totalprocesses").value);
			if (isNaN(index)) {
				var d1 = document.getElementById("allocated");
				d1.innerHTML = "";
				var d2 = document.getElementById("need");
				d2.innerHTML = "";
			}
			else {
				var d1 = document.getElementById("allocated");
				d1.innerHTML = "";
				var p = document.createElement("h5");
				p.setAttribute("style", "text-align:center");
				p.textContent = "Enter Allocation Matrix ( Allocated - 1 Not Allocated - 0) ";
				d1.appendChild(p);
				var br = document.createElement("br");
				for (var i = 0; i < index; i++) {
					var card = document.createElement("card");
					card.setAttribute("style", "width:100%;float:left;height:75px;text-align:center;");
					var p1 = document.createElement("p");
					//p1.setAttribute("style","margin-left:10px;float:left;margin-right:20px;");
					//p1.textContent = "Process "+(i+1)+": ";
					card.appendChild(p1);
					for (var j = 0; j < num; j++) {
						var inp1 = document.createElement("input");
						inp1.setAttribute("id", "AR" + i + "," + j);
						inp1.setAttribute("placeholder", "P-" + (i + 1) + " R-" + (j + 1));
						inp1.setAttribute("style", "width:60px;text-align:center;margin-right:50px;float:center;");
						card.appendChild(inp1);
					}
					d1.appendChild(card);
					d1.appendChild(br);
					d1.appendChild(br);
				}
				var d2 = document.getElementById("need");
				d2.innerHTML = "";
				var c = document.createElement("card");
				c.setAttribute("style", "width:100%;height:50px;");
				d1.appendChild(c);
				var p2 = document.createElement("h5");
				p2.setAttribute("style", "text-align:center");
				p2.textContent = "Enter Request Matrix (Request - 1 No Request - 0 ) ";
				d2.appendChild(p2);
				var br = document.createElement("br");
				for (var i = 0; i < index; i++) {
					var card1 = document.createElement("card");
					card1.setAttribute("style", "width:100%;float:left;height:75px;text-align:center;");
					var p3 = document.createElement("p");
					//p3.setAttribute("style","margin-left:10px;float:left;margin-right:20px");
					//p3.textContent = "Process "+(i+1)+": ";
					card1.appendChild(p3);
					for (var j = 0; j < num; j++) {
						var inp1 = document.createElement("input");
						inp1.setAttribute("id", "NR" + i + "," + j);
						inp1.setAttribute("placeholder", "P-" + (i + 1) + " R-" + (j + 1));
						inp1.setAttribute("style", "width:60px;text-align:center;margin-right:50px;float:center;");
						card1.appendChild(inp1);
					}
					d2.appendChild(card1);
					d2.appendChild(br);
				}
			}
		}
	}


	class Graph {
		constructor(V) {
			this.V = V;
			this.AdjList = new Map();
		}
		addVertex(v) {
			this.AdjList.set(v, []);
		}
		addEdge(v, w) {
			this.AdjList.get(v).push(w); // W is added to v's list
		}

		CheckforCycle1(v) {
			if (vis[v] == false) {
				vis[v] = true;
				recStack[v] = true;
				//Recurssion to check for all the vertices adjacent to the current vertex
				var get_neighbours = this.AdjList.get(v)
				for (var i in get_neighbours) {
					var get_elem = get_neighbours[i];
					q.push(get_elem);
					if (!vis[get_elem] && g.CheckforCycle1(get_elem))
						return true;
					else if (recStack[get_elem])
						return true;
				}
			}
			recStack[v] = false; //The vertex is removed from the recursion stack
			return false;
		}


		//Tjis function return if the graph is a cycle or not
		CheckforCycle2() {
			for (var i = 0; i < 40; i++) {
				vis[i] = false;
				recStack[i] = false;
			}
			//Recursive function is called to detect a cycle
			for (var i = 0; i < p.length; i++) {
				if (g.CheckforCycle1(p[i]))
					return true;
			}
			for (var i = 0; i < r.length; i++) {
				if (g.CheckforCycle1(r[i]))
					return true;
			}
			return false;
		}
	};

	function createGraph() {
		g = new Graph(40);
		for (var i = 0; i < p.length; i++)
			g.addVertex(p[i]);
		for (var i = 0; i < r.length; i++)
			g.addVertex(r[i]);

		for (var i = 0; i < index; i++) {
			for (var j = 0; j < num; j++) {
				if (alloc[i][j] != 0) {
					g.addEdge(20 + j, i);
				}
			}
		}
		for (var i = 0; i < index; i++) {
			for (var j = 0; j < num; j++) {
				if (need[i][j] != 0)
					g.addEdge(i, j + 20);
			}
		}
		var div = document.getElementById("output");
		var div1 = document.getElementById("output1");
		div.innerHTML = "";
		if (g.CheckforCycle2()) {
			var pp = document.createElement("h5");
			pp.setAttribute("style", "margin-left:20px;");
			pp.textContent = " A cycle is found in the graph, and a deadlock exists";
			div.appendChild(pp);
			var card2 = document.createElement("h5");
			card2.textContent = "One present Cycle Is:";
			card2.setAttribute("style", "float:left;margin-left:423px;widht:100%;");
			div1.appendChild(card2);
			var n = q.length - 1;
			for (var i = 0; i < q.length; i++) {
				var p6 = document.createElement("h5");
				var p7 = document.createElement("h5");
				p6.setAttribute("style", "float:left;margin-left:10px;margin-right:10px;");
				p7.setAttribute("style", "float:left;margin-left:10px;margin-right:10px;");
				if (q[i] < 20) {
					if (i != n)
						p6.textContent = "P" + (q[i] + 1) + "--(wants)-->";
					else if (i == n && q[n] != q[0])
						p6.textContent = "P" + (q[i] + 1) + "--(wants)-->";
					else
						p6.textContent = "P" + (q[i] + 1);
					div1.appendChild(p6);
				}
				else if (q[i] >= 20) {
					if (i != n)
						p7.textContent = "R" + (q[i] + 1 - 20) + "--(allocated to)-->";
					else if (i == n && q[n] != q[0])
						p7.textContent = "R" + (q[i] + 1 - 20) + "--(allocated to)-->";
					else
						p7.textContent = "R" + (q[i] + 1 - 20);
					div1.appendChild(p7);
				}
				console.log(q[i]);
			}
			var p8 = document.createElement("h5");
			p8.setAttribute("style", "float:left;margin-left:20px;margin-right:20px;");
			var l = q.length - 1;
			if (q[l] != q[0] && q[l] < 20) {
				console.log(q[0]);
				p8.textContent = "R" + (q[0] + 1 - 20);
				div1.appendChild(p8);
			}
			else if (q[l] != q[0] && q[l] >= 20) {
				console.log(q[0]);
				p8.textContent = "R" + (q[0] + 1);
				div1.appendChild(p8);
			}
			console.log("Graph Contains a Cycle");
		}
		else {
			var p1 = document.createElement("h5");
			p1.setAttribute("style", "margin-left:20px;");
			p1.textContent = " No Deadlock";
			div.appendChild(p1);
			console.log("Graph Doesn't Contain Any Cycles");
		}

	}

	function clear_data() {
		var a = 3;
		console.log(a);
		alloc = [];
		max = [];
		need = [];
		p = [];
		r = [];
		q = [];
		vis = [];
		recStack = [];
		//index =0;
		//num =0;
		var clr1 = document.getElementById("output");
		var clr2 = document.getElementById("output1");
		clr1.innerHTML = "";
		clr2.innerHTML = "";
		var clr3 = document.getElementById("allocated");
		var clr4 = document.getElementById("need");
		clr3.innerHTML = "";
		clr4.innerHTML = "";
		var clr5 = document.getElementById("totalresources");
		var clr6 = document.getElementById("totalprocesses");
		clr5.value = "";
		clr6.value = "";
	}

	function cleardata() {
		alloc = [];
		max = [];
		need = [];
		p = [];
		r = [];
		q = [];
		var clr1 = document.getElementById("output");
		var clr2 = document.getElementById("output1");
		clr1.innerHTML = "";
		clr2.innerHTML = "";
	}

	function detection() {
		cleardata();
		for (var i = 0; i < index; i++) {
			var temp1 = [];
			for (var j = 0; j < num; j++) {
				var inp1 = document.getElementById("AR" + i + "," + j).value;
				if (isNaN(parseInt(inp1)) || inp1 < 0 || inp1 > 1) {
					window.alert("Please Enter Valid Inputs");
					return;
				}

				temp1.push(parseInt(inp1));
			}
			alloc.push(temp1);
		}
		for (var i = 0; i < index; i++) {
			var temp1 = [];
			for (var j = 0; j < num; j++) {
				var inp1 = document.getElementById("NR" + i + "," + j).value;
				if (isNaN(parseInt(inp1)) || inp1 < 0 || inp1 > 1) {
					window.alert("Please Enter Valid Inputs");
					return;
				}
				temp1.push(parseInt(inp1));

			}
			need.push(temp1);
		}

		for (var i = 0; i < num; i++) {
			var c = 0;
			for (var j = 0; j < index; j++) {
				if (alloc[j][i] > 0)
					c++;
				if (c > 1) {
					window.alert("Resource " + (i + 1) + " Cannot be Allocated to More Than One Resource");
					return;
				}
			}

		}
		for (var i = 0; i < index; i++)
			p.push(i);
		for (var i = 0; i < num; i++)
			r.push(20 + i);


		createGraph();
	}


</script>
{% endblock %}

<!--  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
 <div class="navbar-header">
  <a class="navbar-brand" href="./os_sim.html">OS simulator</a>
   </div>
  <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
     <li class="active"><a href="../wiki-sample/single_instance.txt">Wiki</a></li>
   </ul>
  </div>
</nav> -->
{% block body %}

<!-- <div class="page-header">
	<h1 style="float:center">Deadlock Detection with Resource Allocation Graph</h1>
</div> -->

<!-- <div style="width: 100%;;margin-left:10px;text-align:left;">
	<button class="btn btn-primary btn-success" style="float:right;margin-right:20px;" onclick="clear_data()">Clear
		Inputs</button>
	<div style="float:left; font-size: 20px;  margin-left:500px;margin-right:20px;">Number of Resources:</div>
	<input style="width: 20px;float:left;margin-right:30px;" id="totalresources" type="text">
	</input>
	<div style="float:left; font-size: 20px; margin-right:20px;">Number of Processes:</div>
	<input style="width: 20px;float:left;margin-right:30px;" id="totalprocesses" onkeyup="EnterInputs()"
		type="text"></input>

</div> -->

<div class="jumbotron jumbotron-fluid"
	style="background-image: url({% static 'img/jumbo.png' %}); background-size: cover;">
	<div class=" container">
		<h1 class="display-4 pt-5">Deadlock Detection</h1>
		<p class="lead">Deadlock Detection with Resource Allocation Graph</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-5">
			<div>Number of Resources:</div>
			<input id="totalresources" type="text"></input>
		</div>
		<div class="col-5">
			<div>Number of Processes:</div>
			<input id="totalprocesses" onkeyup="EnterInputs()" type="text"></input>
		</div>
		<div class="col-2">
			<button class="btn btn-primary" onclick="clear_data()">Clear Inputs</button>
		</div>

	</div>
</div>


<br>
<br>
<br>
<div id="allocated" style="margin-left:10px;"></div>
<br><br />
<br><br />
<div id="need" style="margin-left:10px;"></div>
<br><br />
<br><br />


<div style="text-align:center; margin-bottom: 100px;">
	<button class="btn btn-primary" onclick="detection()">Check for Deadlock</button>
</div>
<div id="output">

</div>
<br>
<br />
<div id="output1">

</div>
{% endblock %}