<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>System Calls</title>
    <script type = "text/javascript" src = "{% static 'js/syscalls.js' %}" >
    </script>
  </head>
  <body>
    <h2>System Calls</h2>
    <form id = "systemCallsForm" method = "post" name = "systemCallsForm">

        <label>Enter filename: </label>
        <input type="text" name="creatTF1" id="creatTF1">
        <br><br>
        <label>Enter mode: </label>
        <input type="text" name="creatTF2" id="creatTF2">
        <br><br>
        <input type="button" name="creat" id="creat" value="creat()">
        <hr><br>

        <label>Enter file descriptor: </label>
        <input type="text" name="closeTF" id="closeTF">
        <br><br>
        <input type="button" name="close" id="close" value="close()">
        <hr><br>

        <label>Enter filename: </label>
        <input type="text" name="openTF" id="openTF">
        <br><br>
        <input type="button" name="open" id="open" value="open()">
        <hr><br>

        <label>Enter file descriptor: </label>
        <input type="text" name="writeTF1" id="writeTF1">
        <br><br>
        <label>Enter string to write: </label>
        <input type="text" name="writeTF2" id="writeTF2">
        <br><br>
        <label>Enter no. of characters to write: </label>
        <input type="text" name="writeTF3" id="writeTF3">
        <br><br>
        <input type="button" name="write" id="write" value="write()">
        <hr><br>

        <label>Enter file descriptor: </label>
        <input type="text" name="lseekTF1" id="lseekTF1">
        <br><br>
        <label>Enter position to seek: </label>
        <input type="text" name="lseekTF2" id="lseekTF2">
        <br><br>
        <input type="button" name="lseek" id="lseek" value="lseek()">
        <hr><br>

        <label>Enter file descriptor: </label>
        <input type="text" name="readTF1" id="readTF1">
        <br><br>
        <label>Enter no. of characters to read: </label>
        <input type="text" name="readTF2" id="readTF2">
        <br><br>
        <input type="button" name="read" id="read" value="read()">
        <hr><br>

        <label>Enter file descriptor: </label>
        <input type="text" name="dupTF" id="dupTF">
        <br><br>
        <input type="button" name="dup" id="dup" value="dup()">
        <hr><br>

        <label>Enter filename: </label>
        <input type="text" name="chmodTF1" id="chmodTF1">
        <br><br>
        <label>Enter mode: </label>
        <input type="text" name="chmodTF2" id="chmodTF2">
        <br><br>
        <input type="button" name="chmod" id="chmod" value="chmod()">
        <hr><br>

    </form>
  </body>
</html>
